:root {
    --blue: #054671;
    --beige: #e5e1da;
    --brown: #916226;
    --darkyellow: #e1c776;
    --yellow: #f8f0b7;
    --darkblue: #000a1d;
    --white: #FFFFFF;
    --lightgrey: #F1F1F1;
    --darkgrey: #D6D5D5;
    --greyblue: #809BAD;
 }
 @font-face{
    font-family: 'Co Headline Bold';
    src: url('../assets/fonts/Co\ Headline\ Bold.otf');
 }
 @font-face{
    font-family: 'Co Headline Light';
    src: url('../assets/fonts/Co\ Headline\ Light.otf');
 }
 @font-face{
    font-family: 'Co Headline';
    src: url('../assets/fonts/Co\ Headline.otf');
 }
 @font-face{
    font-family: 'Co Text Bold';
    src: url('../assets/fonts//Co\ Text\ Bold.otf');
 }
 @font-face{
    font-family: 'Co Text Light';
    src: url('../assets/fonts/Co\ Text\ Light.otf');
 }
 @font-face{
    font-family: 'Co Text';
    src: url('../assets/fonts/Co\ Text.otf');
 }


* {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(var(--blue), var(--darkblue));
    color: var(--white);
    font-family: 'Co Text Light';
}
header {
    margin: 0px;
    padding: 0.5px;
    position: sticky;
    top: 0;
    background-color: var(--blue);
    z-index: 1000;
}
header .navbar {
    padding: 0px;
    margin: 30px 0px 20px;
    width: 100%;
}
header .navbar .container-fluid {
    width: 100%;
    padding: 0px 50px;
}
header .navbar-nav {
    width: 100%;
    margin-left: 250px;
}
header .navbar-nav .nav-item a {
    font-size: 110%;
    text-decoration: none;
    color: var(--white);
}
header .navbar-nav .nav-item .language {
    font-size: 80%;
}
header .navbar-nav .nav-item .language .active {
    text-decoration: underline;
}
header .navbar-nav .nav-item .language p {
    margin: 0px 10px;
}
header .navbar-nav .nav-item a:hover {
    text-decoration: underline;
}
main .mobile {
    display: none;
}
main .popupMob {
    display: none;
}
main .modal-content {
    background-image: linear-gradient(var(--lightgrey), var(--darkgrey));
    color: var(--blue);
    margin: 0px;
    padding: 0px;
}
main .modal-body{
    margin: 0px;
    padding: 0px;
}
main .popup-col1 {
    width: 40%;
}
main .popup-col1 img {
    width: 100%;
    height: auto;
}
main .popup-col2 {
    width: 60%;
}
main .popup-close{
    width: 100%;
    padding: 10px 30px;
}
main .popup-header{
    width: 100%;
    padding: 10px 0px;
}
main .popup-header .modal-title{
    font-weight: 600;
    font-size: 180%;
    font-family: 'Co Text';
}
main .popup-body{
    padding: 0px 50px;
}
main .popup-body p{
    text-align:justify;
    padding: 0px 20px;
    font-size: 90%;
    font-family: 'Co Text Light';
}
main .popup-body input{
    border: 1px solid var(--blue);
    border-radius: 50px;
    margin: 5px 0px;
    padding: 10px;
    background-color: transparent;
    color: var(--blue);
    width: 90%;
    font-family: 'Co Text Light';
}
::placeholder {
    color: var(--blue);
    opacity: 1;
    font-family: 'Co Text Light';
    padding-bottom: 5px;
}
main .popup-body input:focus{
    border: 1px solid var(--blue);
    font-family: 'Co Text Light';
    box-shadow: none;
}
main .popup-footer {
    width: 100%;
    padding-bottom: 20px;
}
main .popup-footer .btn-register{
    border: 1px solid var(--blue);
    border-radius: 50px;
    margin: 5px 0px;
    padding: 10px;
    background-color: transparent;
    color: var(--blue);
    width: 30%;
    font-family: 'Co Text Light';
    box-shadow: 0px 5px 14px -7px rgba(0,0,0,0.59);
}
main .popup-footer .btn-register:hover{
    background-color: var(--greyblue);
    color: var(--white);
}
main .popup-footer .btn-later{
    border: none;
    margin: 0px;
    background-color: transparent;
    color: var(--blue);
    font-family: 'Co Text Light';
    font-size: 80%;
}
main .video{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .video img{
    width: 100%;
}
main .slogan{
    background-image: url(../assets/background/home/slogan_background.png);
    background-size: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .slogan img{
    width: 50%;
    height: auto;
    margin-top: 120px;
}
main .slogan p{
    margin: 50px;
    padding: 0px 250px;
    text-align: center;
}
main .slogan a{
    padding: 15px 70px 20px;
    font-size: 130%;
    text-decoration: none;
    color: var(--white);
    border: solid 1px var(--white);
    border-radius: 35px;
    margin-bottom: 50px;
}
main .slogan a:hover{
    color: var(--blue);
    font-weight: 700;
    border: solid 1px var(--blue);
    background-color: var(--white);
    box-shadow: 11px 13px 23px -12px rgba(0,0,0,0.71);
}
main .products {
    background-image: url("../assets/background/home/productos_background.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
}
main .products_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
main .products_info p{
    padding: 50px;
    color: var(--blue);
    text-align: center;
}
main .products_info a{
    text-decoration: none;
    color: var(--blue);
    text-align: center;
    border: solid 1px var(--blue);
    border-radius: 35px;
    padding: 15px 70px 20px;
    font-size: 130%;
    font-weight: 700;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.22);
    margin: 10px 50px;
}
main .products_info a:hover{
    color: var(--white);
    font-weight: 700;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    box-shadow: 11px 13px 23px -12px rgba(0,0,0,0.71);
}
main .phrase{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/background/home/ola_background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    padding: 200px;
}
main .phrase img{
    width: 100%;
}
main .capacitaciones{
    display: flex;
    flex-direction: row;
}
main .capacitaciones_column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main .capacitaciones_column1 img{
    width: 95%;
    margin-bottom: 10px;
}
main .capacitaciones_column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
main .capacitaciones_column2 img{
    width: 97%;
}
main .capacitaciones_column2 p{
    padding: 50px 180px 55px;
    text-align: center;
}
main .capacitaciones_column2 a{
    padding: 15px 70px 20px;
    font-size: 130%;
    text-decoration: none;
    color: var(--white);
    border: solid 1px var(--white);
    border-radius: 35px;
    margin-bottom: 50px;
}
main .capacitaciones_column2 a:hover{
    color: var(--blue);
    font-weight: 700;
    border: solid 1px var(--blue);
    background-color: var(--white);
    box-shadow: 11px 13px 23px -12px rgba(0,0,0,0.71);
}
/* main .noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
main .noticias_title {
    color: var(--white);
    font-family: 'Co Text Light';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    text-align: center;
}
main .noticias_title h2 {
    font-size: 400%;
}
main .noticias_notes {
    width: 100%;
} */
/* main .noticias_notes .carousel{
    margin: 60px 0px;
    width: 100%;
}
main .noticias_notes .carousel .carousel-inner{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
main .noticias_notes .carousel .carousel-inner .carousel-item{
    width: 300px;
    height: auto;
    margin: 10px 30px 10px 10px;
    padding: 10px;
}
main .noticias_notes .carousel .carousel-inner .carousel-item .img-carousel{
    width: 100%;
    height: auto;
    padding: 0px 10px;
} */
main .contacto {
    background-image: url(../assets/background/home/contacto_background.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: center;
}
main .contacto_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 750px;
}
main .contacto_text p {
    color: var(--blue);
    padding: 70px 180px;
    text-align: center;
}
main .contacto_text a {
    text-decoration: none;
    color: var(--blue);
    text-align: center;
    border: solid 1px var(--blue);
    border-radius: 35px;
    padding: 15px 70px 20px;
    font-size: 130%;
    font-weight: 700;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.22);
    margin: 10px 50px;
}
main .contacto_text a:hover{
    color: var(--white);
    font-weight: 700;
    border: solid 1px var(--blue);
    background-color: var(--blue);
    box-shadow: 11px 13px 23px -12px rgba(0,0,0,0.71);
}
main .productos_home_encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
main .productos_home_encabezado img{
    width: 100%;
    height: auto;
}
main .productos_home_encabezado p{
    padding: 30px 160px;
    font-size: 120%;
}
main .products_header {
    margin: -150px 50px 120px 50px;
    font-size: 350%;
}
main .productos_home_div{
    padding: 0px 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 50px;
}
main .productos_home_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .productos_home_img img{
    height: 100%;
    margin-top: 0px;
    overflow: hidden;
}
main .productos_home_info{
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    color: var(--blue);
    background-color: var(--lightgrey);
}
main .productos_home_info h3{
    width: 100%;
    font-size: 200%;
    padding: 0px;
    margin: 0%;
    font-family: 'Co Headline' ;
}
main .productos_home_info p{
    width: 100%;
    font-size: 100%;
    margin: 20px 0px;
    padding-right: 30px;
}
main .productos_home_info_btn{
    text-decoration: none;
    color: var(--white);
    font-size: 110%;
    border: solid 1px var(--blue);
    border-radius: 60px;
    padding: 7px 30px 11px;
    background-color: var(--blue);
    opacity: 0.45;
}
main .productos_home_info_btn:hover{
    opacity: 1;
}
main .elasticapl_encabezado {
    background-image: url("../assets/background/productos/elasticaplateada.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .elasticador_encabezado {
    background-image: url("../assets/background/productos/elasticadorada.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .vliftbio_encabezado{
    background-image: url("../assets/background/productos/vliftbio.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .vliftespi_encabezado{
    background-image: url("../assets/background/productos/vliftesp.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .elastica_logo{
    margin: 180px 0px 100px;
    width: 40%;
}
main .elastica_btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}
main .elastica_btns a{
    padding: 20px 70px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .vlift_btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}
main .vlift_btns a{
    padding: 20px 70px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .elastica_subr {
    border-bottom: 3px solid var(--white);
}
main .elastica_descripcion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 0px 140px;
    margin-top: 80px;
}
main .caja_elas{
    width: 50%;
    padding: 0px 30px;
}
main .elastica_descripcion_text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 75px;
}
main .elastica_descripcion_text img{
    width: 50%;
    margin-bottom: 15px;
}
main .elastica_descripcion_text p{
    font-size: 105%;
    margin-top: 15px;
    line-height: 1.8;
}
main .grid-container {
    margin: -180px 150px;
    display: grid;
    grid-template-columns: 50% 50%;
}
main .vlift_grid {
    margin: 50px 150px;
}
main .grid-item {
    background-color: var(--lightgrey);
}
main .grid-item .img_grid{
    width: 100%;
    height: auto;
}
main .grid_text{
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
main .grid_web {
    display: flexbox;
}
main .grid_mobile {
    display: none;
}
main .usos_y_benef {
    padding: 50px 0px;
    width: 70%;
}
main .text_grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
main .usos {
    width: 150%;
    padding-top: 10px;
}
main .usos_esp {
    width: 195%;
    padding-top: 10px;
}
main .usos_doblesp {
    width: 62%;
    padding-top: 10px;
}
main .usos_item {
    color: var(--blue);
    padding-left: 40px;
}
main .usos_item_esp {
    color: var(--blue);
    padding-left: 45px;
}
main .usos_item_doblesp {
    color: var(--blue);
    padding-left: 25px;
}
main .usos_item p{
    margin: 0;
}
main .usos_item_esp p{
    margin: 0;
}
main .usos_item_doblesp p{
    margin: 0;
}
main .accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--lightgrey);
}
main .accordion-item {
    background-color: var(--lightgrey);
    color: var(--blue);
    border: 0px;
    width: 100%;
    margin: 18px 0px;
}
main .accordion-button {
    background-color: var(--lightgrey);
    padding: 10px 130px 10px 70px;
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    color: var(--blue);
}
main .accordion-body {
    padding-left: 70px;
    margin: 0px;
}
main .accordion-body p {
    margin: 5px 0px ;
}
main .elast_aplicacion {
    display: flex;
    flex-direction: row;
    align-items: center;
}
main .elast_aplicacion img {
    height: 70%;
    margin-right: 20px;
}
main .elast_aplicacion p {
    font-size: 120%;
    padding-bottom: 7px;
    font-weight: 550;
}
main .regenyal_encabezado {
    background-image: url("../assets/background/productos/regenyal.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .regenyal_logo{
    margin: 120px 0px 100px;
    width: 40%;
}
main .regenyal_descripcion {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 100px;
    margin-top: 20px;
}
main .regenyal_descripcion_text {
    display: flex;
    flex-direction: column;
    padding: 20px 75px;
}
main .regenyal_descrip_text_largo {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    padding: 20px 75px;
}
main .regenyal_descripcion_text img{
    width: 50%;
    margin-bottom: 15px;
}
main .regenyal_descripcion_text p{
    font-size: 105%;
    margin-top: 15px;
    line-height: 1.8;
}
main .regenyal_descrip_text_largo img{
    width: 50%;
    margin-bottom: 15px;
}
main .regenyal_descrip_text_largo p{
    font-size: 105%;
    margin-top: 15px;
    line-height: 1.8;
}
main .regenyal_btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}
main .regenyal_btns a{
    padding: 20px 70px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    text-decoration: none;
    color: var(--white);
}
main .subr {
    border-bottom: solid 2px var(--white);
    font-weight: 800;
}
main .regenyal-container {
    margin: 70px 150px 0px;
    display: grid;
    grid-template-columns: 50% 50%;
}
main .regenyal-item {
    background-color: var(--lightgrey);
}
main .regenyal-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left: 50px;
}
main .regenyal-list-img {
    margin: 0px 15px;
}
main .regenyal-item .img_grid_regenyal{
    width: 100%;
    height: auto;
}
main .subitem {
    color: var(--blue);
    font-size: 120%;
    padding: 0px 80px 0px 30px;
    margin: 10px 0px;
}
main .div_volver {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    padding-right: 100px;
}
main .volver {
    text-decoration: none;
    color: var(--blue);
}
main .armon {
    margin-right: 30px;
}
footer .mobile {
    display: none;
}
.ft_basic {
    background-image: url(../assets/background/footer/olas_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.ft_plat {
    background-image: url(../assets/background/footer/elasticapl_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;   
}
.ft_dor {
    background-image: url(../assets/background/footer/elasticador_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;   
}
.ft_regenyal {
    background-image: url(../assets/background/footer/regenyal_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 150px; 
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;    
}
.ft_vliftbio {
    background-image: url(../assets/background/footer/vliftbio_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 150px; 
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;    
}
.ft_vliftespi {
    background-image: url(../assets/background/footer/vliftesp_footer.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    padding-top: 150px; 
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;    
}
footer .footer_logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    margin-bottom: 80px;
}
footer .footer_logo img {
    width: 20%;
}
footer .footer_menu {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    width: 100%;
}
footer .footer_hablemos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 80px 100px;
    width: 30%
}
footer .footer_hablemos h4 {
    font-size: 150%;
    margin: 30px 0px;
}
footer .footer_hablemos a {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 20px 0px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}
footer .footer_hablemos a img {
    margin-right: 10px;
}
footer .footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 80px 100px;
    border-left: solid 1px var(--white);
    border-right: solid 1px var(--white);
    width: 40%
}
footer .footer_links_navigate {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-right: 50px;
}
footer .footer_links_navigate h5 {
    font-size: 150%;
    margin: 30px 0px;
}
footer .footer_links_navigate a {
    padding: 7px 0px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}
footer .footer_links_social {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-left: 50px;
}
footer .footer_links_social h5 {
    font-size: 150%;
    margin: 30px 0px;
}
footer .footer_links_social a {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 7px 0px;
    text-decoration: none;
    text-align: center;
    color: var(--white);
}
footer .footer_links_social a img {
    margin-right: 10px;
    margin-top: 5px;
}
footer .footer_legal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 80px 100px;
    width: 30%
}
footer .footer_legal h5 {
    font-size: 150%;
    margin: 30px 0px;
}
footer .footer_legal a {
    padding: 7px 0px;
    text-decoration: none;
    text-align: start;
    color: var(--white);
}


@media (max-width: 1427px) {
    main .capacitaciones_column2 p{
        padding: 50px 100px 55px;
    }
    main .productos_home_info{
        padding: 20px;
    }
    main .productos_home_info h3{
        font-size: 150%;
    }
    main .productos_home_info p{
        font-size: 100%;
        margin: 10px 0px;
        padding-right: 10px;
    }
    main .productos_home_info_btn{
        font-size: 100%;
    }
    main .elastica_logo{
        margin: 100px 0px 50px;
    }
    main .elastica_descripcion {
        padding: 0px 90px;
    }
    main .elastica_descripcion_text {
        padding: 20px 55px;
    }
    main .elastica_descripcion_text p{
        font-size: 95%;
        margin-top: 15px;
        line-height: 1.8;
    }
    main .accordion-button {
        padding: 10px 80px 10px 70px;
    }
    main .elast_aplicacion p {
        font-size: 90%;
        padding-bottom: 7px;
        font-weight: 550;
    }
    footer .footer_hablemos a {
        font-size: 90%;
    }
}
@media (max-width: 1285px) {
    header .navbar-nav {
        margin-left: 200px;
    }
    header .navbar-nav .nav-item a {
        font-size: 100%;
    }
    header .navbar-nav .nav-item .language {
        font-size: 70%;
    }
    main .capacitaciones_column2 p{
        padding: 40px 80px 30px;
    }
    main .grid-container {
        margin: -100px 100px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    main .vlift_grid {
        margin: 10px 100px;
    }
    main .grid_text{
        padding: 0px 40px;
    }
    main .usos_y_benef {
        width: 50%;
    }
    main .usos {
        width: 100%;
    }
    main .usos_esp {
        width: 145%;
    }
    main .usos_doblesp {
        width: 55%;
    }
    main .usos_item p{
        font-size: 90%;
    }
    main .usos_item_esp p{
        font-size: 90%;
    }
    main .usos_item_doblesp p{
        font-size: 90%;
    }
    main .accordion-button img {
        width: 60%;
    }
    footer .footer_logo {
        margin-top: 30px;
    }
    footer .footer_hablemos a {
        font-size: 80%;
    }
    footer .footer_hablemos a img {
        width: 40px;
    }
}
@media (max-width: 1220px) {
    header .navbar .container-fluid a img {
        width: 120px;
        height: auto;
    }
    main .slogan img{
        margin-top: 80px;
    }
    main .slogan p{
        padding: 0px 100px;
    }
    main .slogan a{
        padding: 10px 50px 15px;
        font-size: 100%;
    }
    main .products {
        background-size: 100% auto;
        padding: 80px;
    }
    main .products_info p{
        padding: 20px;
    }
    main .products_info a{
        padding: 10px 50px 15px;
        font-size: 100%;
        margin: 10px 50px;
    }
    main .phrase{
        padding: 150px;
    }
    main .capacitaciones_column2 p{
        padding: 30px 70px 25px;
        font-size: 90%;
    }
    main .capacitaciones_column2 a{
        padding: 10px 50px 15px;
        font-size: 100%;
        margin-bottom: 30px;
    }
    main .contacto_text {
        height: 500px;
    }
    main .contacto_text p {
        padding: 50px 90px;
    }
    main .contacto_text a {
        padding: 10px 50px 15px;
        font-size: 100%;
        margin: 10px 50px;
    }
    main .productos_home_encabezado p{
        padding: 30px 50px;
        font-size: 100%;
    }
    main .productos_home_div{
        padding: 0px 50px;
        grid-template-columns: 50% 50%;
    }
    main .productos_home_info{
        padding: 20px;
    }
    main .productos_home_info h3{
        font-size: 130%;
    }
    main .productos_home_info p{
        font-size: 90%;
        margin: 10px 0px;
        padding-right: 10px;
    }
    main .productos_home_info_btn{
        font-size: 80%;
    }
    main .subitem {
        font-size: 90%;
        padding: 0px 20px;      
    }
    main .div_volver {
        width: 100%;
        padding-right: 20px;
    }
    footer {
        margin-bottom: 20px;
    }
    footer .footer_logo {
        margin-top: 50px;
    }
    footer .footer_hablemos {
        padding: 50px 70px;
    }
    footer .footer_hablemos h4 {
        font-size: 130%;
    }
    footer .footer_hablemos a img {
        width: 30px;
    }
    footer .footer_links {
        padding: 30px 60px;
    }
    footer .footer_links_navigate h5 {
        font-size: 130%;
        margin-top: 30px;
    }
    footer .footer_links_navigate a {
        font-size: 90%;
    }
    footer .footer_links_social h5 {
        font-size: 130%;
    }
    footer .footer_links_social a {
        font-size: 90%;
    }
    footer .footer_legal {
        padding: 50px 70px;
    }
    footer .footer_legal h5 {
        font-size: 130%;
        margin-top: 15px;
    }
    footer .footer_legal a {
        font-size: 90%;
    }
}
@media (max-width: 1130px) {
    main .vlift_btns a{
        padding: 20px 20px;
        margin: 10px;
    }
    main .elastica_descripcion {
        padding: 0px 20px;
        margin-top: 60px;
    }
    main .vlift_descripcion{
        margin-top: 120px;
    }
    main .caja_elas{
        padding: 0px 10px;
    }
    main .elastica_descripcion_text {
        padding: 10px 25px;
    }
    main .elastica_descripcion_text img{
        width: 50%;
        margin-bottom: 15px;
    }
    main .elastica_descripcion_text p{
        font-size: 85%;
        line-height: 1.6;
    }
    main .grid-container {
        margin: -200px 70px;
    }
    main .vlift_grid {
        margin: 10px 100px;
    }
    main .grid_text{
        padding: 0px 20px;
    }
    main .usos_item {
        padding-left: 20px;
    }
    main .usos_item_esp {
        padding-left: 25px;
    }
    main .usos_item_doblesp {
        padding-left: 5px;
    }
    main .regenyal_descripcion {
        padding: 0px 50px;
    }
}
@media (max-width: 992px) {
    header .navbar-toggler{
        border: none;
        margin-right: 40px;
        margin-bottom: 10px;
    }
    header .navbar .container-fluid {
        padding: 0px;
    }
    header .navbar .container-fluid a{
        margin-left: 40px;
        margin-bottom: 10px;
    }
    header .navbar-collapse{
        background-color: var(--white);
        width: 100%;
        padding: 20px 40px;
    }
    header .navbar-nav {
        width: 100%;
        margin-left: 0px;
    }
    header .navbar-nav .nav-item {
        width: 100%;
        margin: 7px 0px;
    }
    header .navbar-nav .nav-item a {
        font-size: 100%;
        text-decoration: none;
        color: var(--blue);
        margin: 0px;
    }
    header .navbar-nav .nav-item .language {
        font-size: 80%;
        width: 100%;
        margin-top: 15px;
    }
    header .navbar-nav .nav-item .language .active {
        text-decoration: underline;
    }
    header .navbar-nav .nav-item .language p {
        margin: 0px 7px;
        color: var(--blue);
    }
    header .navbar-nav .nav-item a:focus {
        text-decoration: underline;
    }
    main .popupWeb {
        display: none;
    }
    main .popupMob {
        display: initial;
    }
    main .popup-col1 {
        width: 100%;
    }
    main .popup-col1 img {
        width: 75%;
        height: auto;
    }
    main .popup-col2 {
        width: 100%;
    }
    main .popup-close{
        width: 100%;
        padding: 25px;
        position: absolute;
        top: 0;
        right: 0;
    }
    main .products_header {
        margin: -100px 50px 100px 50px;
        font-size: 250%;
    }
    main .productos_home_div{
        padding: 0px 50px;
        grid-template-columns: 40% 60%;
    }
    main .productos_home_info{
        padding: 20px;
    }
    main .productos_home_info h3{
        font-size: 120%;
    }
    main .productos_home_info p{
        font-size: 80%;
        margin: 10px 0px;
        padding-right: 10px;
    }
    main .productos_home_info_btn{
        font-size: 80%;
    }
    main .elastica_btns a{
        padding: 20px 20px;
        margin: 10px;
    }
    main .elastica_descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }
    main .caja_elas{
        width: 70%;
    }
    main .elastica_descripcion_text {
        width: 100%;
        margin-top: -300px;
        padding: 20px 35px;
    }
    main .vlift_descripcion_text {
        margin-top: 10px;
    }
    main .exp_dor {
        margin-top: 20px;
    }
    main .elastica_descripcion_text img{
        width: 30%;
        margin-bottom: 15px;
    }
    main .elastica_descripcion_text p{
        font-size: 90%;
    }
    main .grid_mobile {
        display: block;
    }
    main .grid_web {
        display: none;
    }
    main .grid-container {
        grid-template-columns: 100%;
        padding: 0px 120px;
        margin: 0px 60px;
    }
    main .grid_text{
        padding: 50px;
    }
    main .accordion {
        padding: 90px 0px;
    }
    main .accordion-button {
        padding: 5px 130px 5px 70px;
    }
    main .elast_aplicacion p {
        font-size: 100%;
    }
    main .accordion-body p {
        font-size: 100%;
    }
    main .regenyal_descripcion {
        padding: 0px 20px;
        margin-top: 0px;
    }
    main .regenyal_descripcion_text {
        padding: 10px 30px;
    }
    main .regenyal_descrip_text_largo {
        padding: 10px 30px;
    }
    main .regenyal_descripcion_text p{
        font-size: 90%;
    }
    main .regenyal_btns a{
        padding: 20px 50px;
        margin: 20px 0px;
        font-size: 120%;
        text-decoration: none;
        color: var(--white);
    }
    main .regenyal-container {
        margin: 70px 70px 0px;
    }
    main .regenyal-list {
        padding: 30px 50px;
    }
    main .regenyal-list-img {
        margin: 0px 10px;
    }
    footer .footer_logo {
        padding-top: 100px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media (max-width: 950px) {
    main .slogan p{
        margin: 15px;
        padding: 0px 50px;
        text-align: center;
    }
    main .products {
        padding: 20px;
    }
    main .products_info{
        width: 55%;
    }
    main .products_info p{
        padding: 20px;
        padding-bottom: 5px;
        font-size: 100%;
    }
    main .products_info a{
        padding: 10px 40px 15px;
        font-size: 90%;
        margin: 10px;
        margin-top: 0px;
    }
    main .phrase{
        padding: 100px 20px;
    }
    main .capacitaciones_column2 p{
        padding: 10px;
        font-size: 100%;
        margin-bottom: 0px;
    }
    main .capacitaciones_column2 a{
        padding: 10px 40px 15px;
        font-size: 90%;
        margin-bottom: 10px;
    }
    main .contacto_text {
        width: 50%;
        height: auto;
    }
    main .contacto_text p {
        padding: 30px 40px;
        font-size: 100%;
        margin-bottom: 0px;
    }
    main .contacto_text a {
        padding: 10px 50px 15px;
        font-size: 90%;
        margin: 10px;
        margin-top: 0px;
    }
    footer .web {
        display: none;
    }
    footer {
        background-size: 150%;
        background-position:top;
    }
    footer .footer_logo {
        padding-top: 100px;
        margin-bottom: 10px;
        margin-top: 100px;
    }
    footer .footer_logo img {
        width: 30%;
    }
    footer .footer_menu_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    footer .footer_hablemos_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        width: 100%;
        margin-top: 30px;
    }
    footer .footer_hablemos_mobile h4 {
        font-size: 160%;
        margin: 30px 0px;
    }
    footer .footer_hablemos_mobile_links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    footer .footer_hablemos_mobile_links a {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding: 20px 0px;
        text-decoration: none;
        text-align: center;
        color: var(--white);
        margin: 0px 15px;
    }
    footer .footer_hablemos_mobile a img {
        margin-right: 10px;
        width: 30px;
    }
    footer .footer_links_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        width: 100%
    }
    footer .footer_links_social_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 15px;
        width: 100%;
    }
    footer .footer_links_social_mobile a {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;
        padding: 7px 0px;
        text-decoration: none;
        text-align: center;
        color: var(--white);
    }
    footer .footer_links_social_mobile a img {
        margin-right: 10px;
        margin-top: 7px;
    }
    footer .footer_links_social_mobile .linkedin_logo{
        width: 18px;
        height: auto;
        border-radius: 20px;
    }
}
@media (max-width: 850px) {
    main .elastica_btns a{
        padding: 20px 20px;
        margin: 10px;
    }
    main .vlift_img{
        width: 90%;
    }
    main .elastica_descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
    }
    main .caja_elas{
        width: 50%;
    }
    main .elastica_descripcion_text {
        margin-top: -150px;
    }
    main .vlift_descripcion_text {
        margin-top: 0px;
    }
    main .exp_dor {
        margin-top: 0px;
    }
    main .elastica_descripcion_text img{
        width: 30%;
        margin-bottom: 15px;
    }
    main .elastica_descripcion_text p{
        font-size: 90%;
    }
    main .grid-container {
        grid-template-columns: 100%;
        padding: 0px 80px;
        margin: 0px 20px;
    }
    main .grid_text{
        padding: 50px;
    }
    main .accordion {
        padding: 90px 0px;
    }
    main .accordion-button {
        padding: 5px 130px 5px 70px;
    }
    main .elast_aplicacion p {
        font-size: 100%;
    }
    main .accordion-body p {
        font-size: 100%;
    }
    main .regenyal_logo{
        margin: 80px 0px 50px;
        width: 40%;
    }
    main .regenyal_descripcion {
        grid-template-columns: 100%;
        padding: 0px 50px;
    }
    main .regenyal_descrip_text_largo {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    main .regenyal_descripcion_text img{
        width: 20%;
    }
    main .regenyal_descrip_text_largo p{
        font-size: 90%;
    }
    main .regenyal-container {
        margin: 70px 100px;
        display: flex;
        flex-direction: column-reverse;
    }
    main .regenyal-list {
        padding: 50px;
    }
    main .regenyal-list-img {
        margin: 15px;
    }
    footer .footer_logo {
        padding-top: 50px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}
@media (max-width: 650px) {
    main .popup-col1 img {
        width: 60%;
        height: auto;
    }
    main .popup-header .modal-title{
        font-size: 120%;
    }
    main .popup-body p{
        text-align:justify;
        padding: 0px 15px;
        font-size: 70%;
        font-family: 'Co Text Light';
    }
    main .popup-body input{
        margin: 5px 0px;
        padding: 10px;
        width: 80%;
    }
    ::placeholder {
        color: var(--blue);
        opacity: 1;
        font-family: 'Co Text Light';
        font-size: 80%;
    }
    main .popup-footer {
        width: 100%;
        padding-bottom: 20px;
    }
    main .popup-footer .btn-register{
        margin: 5px 0px;
        padding: 10px;
        font-size: 80%;
    }
    main .popup-footer .btn-later{
        font-size: 70%;
    }
    main .productos_home_encabezado p{
        padding: 30px 70px;
        font-size: 100%;
    }
    main .products_header {
        margin: -80px 50px 30px 50px;
        font-size: 150%;
    }
    main .productos_home_div{
        padding: 0px 70px;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 0px;
    }
    main .productos_home_img img{
        margin-top: 35px;
    }
    main .productos_home_info{
        padding: 30px 40px;
    }
    main .elast_img{
        width: 90%;
    }
    main .elastica_descripcion {
        padding: 0px 20px;
    }
    main .caja_elas{
        width: 70%;
    }
    main .grid-container {
        padding: 0px 40px;
        margin: 0px 10px;
    }
    main .regenyal_logo{
        margin: 50px 0px;
        width: 70%;
    }
    main .regenyal_descripcion {
        padding: 0px 30px;
        margin-top: 20px;
    }
    main .regenyal_btns a{
        padding: 10px;
        margin: 20px 0px;
        font-size: 60%;
    }
    main .regenyal-container {
        margin: 50px 30px;
    }
    main .regenyal-list {
        padding: 10px;
    }
    main .regenyal-list-img {
        margin: 10px;
    }
    main .subitem {
        font-size: 80%;
        padding: 0px 20px;      
    }
    main .div_volver {
        width: 100%;
        padding-right: 20px;
    }
    footer .footer_logo {
        padding-top: 80px;
        margin-bottom: 10px;
    }
}
@media (max-width: 500px){
    header .navbar-toggler{
        border: none;
        margin-right: 20px;
    }
    header .navbar .container-fluid .logo{
        margin-left: 30px;
    }
    header .navbar .container-fluid a img{
        width: 90px;
    }
    main .web {
        display: none;
    }
    main .mobile {
        display: initial;
    }
    main .slogan{
        background-image: none;
    }
    main .slogan img{
        width: 80%;
        height: auto;
        margin-top: 50px;
    }
    main .slogan p{
        margin: 20px;
        padding: 0px 20px;
        font-size: 100%;
    }
    main .slogan a{
        padding: 7px 60px 12px;
        font-size: 90%;
        margin: 15px 0px;
    }
    main .products {
        background-image: url("../assets/background/home/productos_background_mobile.png");
        background-size: 100% 100%;
        padding: 10px;
    }
    main .products_info{
        width: 100%;
        margin: 500px 0px 150px;
    }
    main .products_info p{
        padding: 20px;
        font-size: 100%;
    }
    main .products_info a{
        padding: 15px 50px 20px;
        font-size: 100%;
        margin: 10px 50px 20px;
    }
    main .phrase{
        padding: 100px 20px;
    }
    main .phrase img{
        width: 100%;
    }
    main .capacitaciones{
        display: flex;
        flex-direction: column;
    }
    main .capacitaciones_column1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .capacitaciones_column1 img{
        width: 100%;
    }
    main .capacitaciones_column2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main .capacitaciones_column2 img{
        width: 97%;
    }
    main .capacitaciones_column2 p{
        padding: 10px 40px;
    }
    main .capacitaciones_column2 a{
        padding: 15px 50px 20px;
        font-size: 100%;
    }
    main .contacto {
        background-image: url(../assets/background/home/contacto_background_mobile.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: center;
    }
    main .contacto_text {
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    main .contacto_text p {
        color: var(--blue);
        padding: 50px 40px 20px;
        font-size: 100%;
    }
    main .contacto_text a {
        padding: 7px 50px 12px;
        font-size: 90%;
        margin: 10px 50px;
    }
    main .productos_home_info h3{
        font-size: 150%;
    }
    main .productos_home_info p{
        font-size: 90%;
        margin: 20px 0px;
        padding-right: 10px;
    }
    main .productos_home_info_btn{
        font-size: 90%;
        padding: 7px 30px 11px;
    }
}
@media (max-width: 450px) {
    main .slogan p{
        margin: 10px;
        padding: 0px 10px;
        font-size: 100%;
    }
    main .elastica_btns a{
        padding: 20px ;
        margin: 10px;
    }
    main .linea_div {
        height: 10%;
    }
    main .elastica_descripcion_text {
        margin-top: -120px;
    }
    main .vlift_descripcion{
        margin-top: 120px;
    }
    main .vlift_descripcion_text {
        margin-top: 10px;
    }
    main .elastica_descripcion_text p{
        font-size: 80%;
    }
    main .grid_text{
        padding: 30px;
    }
    main .usos_item p{
        font-size: 80%;
    }
    main .usos_item_esp p{
        font-size: 80%;
    }
    main .usos_item_doblesp p{
        font-size: 80%;
    }
    main .accordion-button {
        padding: 5px 30px 5px 30px;
    }
    main .elast_aplicacion p {
        font-size: 80%;
    }
    main .accordion-body p {
        font-size: 80%;
    }
}
@media (max-width: 416px) {
    footer .footer_hablemos_mobile h4 {
        font-size: 120%;
        margin: 20px 0px;
    }
    footer .footer_hablemos_mobile_links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer .footer_hablemos_mobile_links a {
        font-size: 80%;
    }
    footer .footer_hablemos_mobile a img {
        width: 20px;
    }
}